# Exercice1

**1) Syntaxe valide** <br>
explication: if est suivi par une condition valide (x>4). <br>
exemple:

In [80]:
x=3
if(x>4):
    print('%d is greater than 4' % (x))
else:
    print('{} is lower than 4' .format(x))

3 is lower than 4

**2) Syntaxe valide** <br>
explication: if est suivi par une condition valide x==2 (Les parenthèse ne sont pas obligatoires). <br>
exemple:

In [14]:
if x==2:
    print('%d est égale à 2' % (x))
else:
    print('{} n\'est pas égale à 2' .format(x))

3 n'est pas égale à 2

**3) Syntaxe invalide** <br>
explication: if est suivi par une condition invalide y=4 (inférieur ou égale ça s'ecrit <=). <br>
exemple:

In [17]:
y=4
if( y=<4):
    print('{0} est inférieur ou égale à 4' .format(y))
else:
    print(y, ' est supérieur à 4')

SyntaxError: invalid syntax (155877941.py, line 2)

**4) Syntaxe invalide** <br>
explication: if est suivi par une condition invalide y=5 (= c'est une affectation, l'égalité c'est plutot ==). <br>
exemple:

In [40]:
    if(y=5):
        print('{0} est égale à 5' .format(y))
    else:
        print(y, ' n\'est pas égale à 5')

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4223499362.py, line 1)

**5) Syntaxe valide** <br>
explication: if est suivi par une condition valide a<=3 (3 est inférieure ou égale à la vaiable a). <br>
exemple:

In [41]:
a=5
if(3<=a):
    print('3 est inférieure ou égale à', a)
else:
    print('3 est supérieure à ', a)

3 est inférieure ou égale à 5

**6) Syntaxe valide** <br>
explication: En effet if pourra être suivie par un nombre s'il est égale à zéro il sera remplacé par False sinon s'il est supérieur il sera évalué comme True (même si le moins n'est pas un opérateur logique, le résultat de la soustraction sera évalué). <br>
exemple:

In [47]:
if(1-1):
    print('True')
else:
    print('False')
print('##############')
if(1-0):
    print('True')
else:
    print('False')
print('##############')
if(3-0):
    print('True')
else:
    print('False')

False
##############
True
##############
True

**7) Syntaxe valide** <br>
explication: if est suivi par une condition valide ((1-1)<=0) (le résultat de la soustraction sera comparé à 0). <br>
exemple:

In [48]:
if((1-1)<=0):
    print('True')
else:
    print('False')

True

**8) Syntaxe valide** <br>
explication: if est suivi par une condition valide (name=="james") (la variable name sera comparée à la chaine de caractères "james"). <br>
exemple:

In [49]:
name="james"
if(name=="james"):
    print('True')
else:
    print('False')

True

# Exercice2

In [50]:
X=2
if(x>3):
    print('this number')
print('is greater')
print('than 3.')

is greater
than 3.

**Explication:** Dans la première ligne 2 est affecté à la vaiable x
Par conséquent n'est pas supérieure à 3, et donc la condition sera évaluée comme False, et donc le bloc dans le if statement sera ignoré.

# Exercice3

**1) Réponse : (total > 2)**

In [53]:
total = 5
if ( (not total <= 2) == (total > 2) ):
    print('equivalent')
else:
    print('not equivalent')

equivalent

**2) Réponse : (count <= 40)**

In [55]:
count = 50
if((not count > 40) == (count <= 40)):
    print('equivalent')
else:
    print('not equivalent')

equivalent

**3) Réponse : (value <= 20 or total === 100)**

In [61]:
value=10
print( (not(value > 20 and total != 100)) == (value <= 20 or total == 100) )

True

**4) Réponse : (angle <= 180 or width != 5)**

In [63]:
angle=60
width=5
print( not (angle > 180 and width == 5) == (angle <= 180 or width != 5) )

True

**5) Réponse : (count != 5 or (value != 10) and count <= 50)**

In [64]:
print((not (count == 5 and not (value != 10) or count > 50)) == (count != 5 or (value != 10) and count <= 50))

True

**6) Réponse : (value <= 200 and value >= 0 or total == 0)**

In [65]:
print((not (value > 200 or value < 0 and not total == 0)) == (value <= 200 and value >= 0 or total == 0))

True

# Exercice4

In [70]:
def kilos_to_miles(x):
    return x*0.621371
distance = int(input('Enter the value in kilometers:'))
print('The entered value in Miles:', kilos_to_miles(distance) )

Enter the value in kilometers:10
The entered value in Miles: 6.21371

# Exercice5

In [71]:
var1= int(input('Enter 1st number:'))
var2= int(input('Enter 2nd number:'))
var3= int(input('Enter 3rd number:'))
print('The smallest number among {}, {} and {} is:{}' .format(var1,var2,var3,min(var1,var2,var3)))

Enter 1st number:10
Enter 2nd number:15
Enter 3rd number:8
The smallest number among 10, 15 and 8 is:8

# Exercice6

In [74]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
nb=int(input('Enter a Number:'))
print('Factorial of ',nb, ':', fact(nb))

Enter a Number:4
Factorial of  4 : 24

# Exercice7

In [98]:
nb1=int(input('Entrer le premier nombre:'))
op=input('Entrer l\'opérateur:')
nb2=int(input('Entrer le deuxième nombre:'))
match op:
    case '+':
        print('Le résultat de l\'addition est :', nb1+nb2)
    case '-':
        print('Le résultat de la soustraction est :', nb1-nb2)
    case '*':
        print('Le résultat de la multiplication est :', nb1*nb2)
    case '/':
        print('Le résultat de la division est :', nb1/nb2)
    case '%':
        print('Le résultat du modulo est :', nb1%nb2)
    case '**':
        print('Le résultat de la puissance est :', nb1**nb2)
    case _:
        print('L\'opérateur n\'est pas reconnu.')

Entrer le premier nombre:2
Entrer l'opérateur:*
Entrer le deuxième nombre:5
Le résultat de la multiplication est : 10

# Exercice8

In [97]:
def prime(x):
    # un nombre premier est strictement supérieur à 1
    if not x > 1:
        return False
    #un nombre premier n'est forcément pas paire
    if x%2==0:
        return False
    for i in range(3, x, 2):
        if (x % i) == 0:
            return False
    return True
  
while True:
    num = int(input("Enter a number: "))
    if prime(num):
        print(num, "is a prime number")
    else:
        print(num, "is not a prime number")
    q = input("Enter q to exit: ")
    if q=="q":
        break

Enter a number: 3
3 is a prime number
Enter q to exit:
Enter a number: 5
5 is a prime number
Enter q to exit:
Enter a number: 7
7 is a prime number
Enter q to exit:
Enter a number: 9
9 is not a prime number
Enter q to exit:
Enter a number: 11
11 is a prime number
Enter q to exit:
Enter a number: 2
2 is not a prime number
Enter q to exit:
Enter a number: 4
4 is not a prime number
Enter q to exit:
Enter a number: 6
6 is not a prime number
Enter q to exit:
Enter a number: 13
13 is a prime number
Enter q to exit: q

# Exercice9

In [91]:
nb=int(input('Enter the number:'))
while (nb<1) or (nb>9):
    nb=int(input('Enter the number:'))
print('Multiplication Table of ', nb)
for i in range(1,11):
    print(nb, 'X', i, '=', nb*i)

Enter the number:5
Multiplication Table of  5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

# Exercice10

In [90]:
def sumSquares(seuil):
    sum=0
    i=0
    while sum <= seuil:
        i+=1
        sum += i**2
    return (sum,i)
(sum,i)= sumSquares(200)
print('The total sum:', sum, ' and the last number is ',i)

The total sum: 204  and the last number is  8